<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scan Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div class="container">
        <h2>Scan Report for {{ result.apk_name }}</h2>
        <p><strong>Scan Date:</strong> {{ result.scan_date }}</p>
        <h3>Issues Found:</h3>
        <pre>{{ result.issues_found }}</pre>
        <a href="{{ url_for('static', filename='reports/' + result.apk_name.replace('.apk', '') + '_report.pdf') }}"
            class="btn btn-primary">Download PDF Report</a>
    </div>
</body>

</html>